@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.blog-post {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;

  .wrapper {
    width: 100%;
    max-width: 975px;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  &__articles {
    position: fixed;
    left: 30px;
    top: 30px;

    .btn {
      font-size: 18px;
      padding: 8px 18px;
      border: 1px solid rgb(255, 228, 197);
      border-radius: 20px;
      background-color: rgb(255, 228, 197);
      cursor: pointer;
    }
  }

  &__footer {
    margin-bottom: 2rem;
  }
}

.post-content {
  margin-top: 24px;
  width: 100%;

  &__title {
    margin-bottom: 0;
    text-align: center;
    font-size: 2.5rem;
  }

  &__date {
    margin-top: 0.8rem;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(193, 193, 193);
  }

  &__box {
    margin-top: 3rem;
  }
}

.mdx-content {
  font-size: 1.2rem;
  line-height: 1.8rem;
  .toc-title {
    color: gray;
    margin-bottom: 12px;
  }
  .table-of-contents {
    border-left: 3px solid gray;
    ul {
      list-style-type: none;
      margin: 0;
      padding-left: 12px;
      p {margin: 0}
      a {color: gray;}
    }
  }

  .language-text {font-weight: bold; padding: 2px 5px;}

  blockquote {margin: 0 1.2rem;}

  span,
  li,
  p {
    font-size: 1.125rem;
    line-height: 2rem;
    vertical-align: baseline;
    letter-spacing: -0.5px;
    word-spacing: 0.25rem;
    margin: 0 0 1.125rem;
    padding: 0;
    font-weight: 400;
    text-decoration: none;
    text-align:start;
    text-indent: 0;
    margin-bottom: 0;
  }
  li {
    margin-bottom: 8px;
  }

  ul,
  ol {padding-left: 18px;}

  h1,h2 {color: #FE8B44;}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-bottom: 0.5rem;

    & > a {
      text-decoration: none;
      width: 100%;

      :hover {
        text-decoration: underline;

        & ::before {
          content: "🔗";
          transform: translateX(-2rem);
          position: absolute;
          font-size: 1.5rem;
          bottom: 12.5px;

          @media (max-width: 600px) {
            display: none;
          }
        }
      }
    }
  }
  a { text-decoration: none;}
  .auto-header {
    margin-left: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .blog-post {
    &__wrapper {width: 95%;}

    &__articles {
      position: static;
      margin-top: 12px;
    }

    .post-content {
      margin-top: 0;

      &__title {margin-top: 12px;}
    }
  }

  .mdx-content {
    blockquote {margin-left: 1.2rem;}

    ul,
    ol {padding-left: 18px;}
  }
}
