@import '../../common/style/color.scss';

.content {
  display: flex;
  flex-direction: column;
  .content__box {
    padding: 0.6rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    &:hover {
      background-color: rgb(241, 241, 241);
    }
    .content__box-date_category {
      font-size: 1rem;
    }
    .content__box-date {
      color: black;
    }
    .content__box-category {
      margin-left: 0.6rem;
      color: $main-font-color
    }
    .content__box-title {
      margin-top: 0.4rem;
      font-size: 1.6rem;
    }
    .content__box-desc {
      margin-top: 0.4rem;
      font-size: 1rem;
    }
    .content__box-hash {
      margin-top: 0.4rem;
      color: rgb(177, 177, 177);
    }
  }
}


