@import '../../common/style/color.scss';

.content-card {
  display: flex;
  flex-direction: column;
  &__box {
    padding: 0.6rem;
    margin-bottom: 1.2rem;
    cursor: pointer;

    &:hover {
      background-color: rgb(241, 241, 241);
    }

    .date-and-category {
      font-size: 1rem;
    }

    &-date {
      color: black;
    }

    &-category {
      margin-left: 0.6rem;
      color: $main-font-color
    }

    &-title {
      margin-top: 0.4rem;
      font-size: 1.6rem;
    }

    &-desc {
      margin-top: 0.4rem;
      font-size: 1rem;
    }

    &-hash {
      margin-top: 0.4rem;
      color: rgb(177, 177, 177);
    }
  }
}


