html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.landing-page {
  display: flex;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  .page-container {
    display: flex;
    width: 100%;
    height: 100%;
    .sidebar-wrapper {
      flex: 30% 1 1;
      display: flex;
      justify-content: center;
    }
    .content-wrapper {
      flex: 70% 1 1;
    }
  }
}
